$color-primary: #108eea;
$color-primary-light: #92c3ff;
$color-primary-light-2: #b3daf6;
$color-primary-dark: rgb(6, 66, 177);
$color-primary-night: #00213a;

$color-light: #fff;

$color-gray: #444343;
$color-gray-light: #a7a6a6;
$color-gray-very-light:#e5e5e5;
$color-dark: #2a2a2a;
$color-black-visible:rgba(0, 0, 0, 0.8);


$color-green-light:rgb(11, 141, 11);

$color-red:#f55044;

$color-error:#fc3838;
$color-warning:#ffc107;
$color-success:#92e433;

$padding-sm:1rem;
$padding-m: 1.5rem;
$padding-lg:2rem;

$default-font-size: 1.5rem;