$color-primary: #108eea;
$color-primary-light: #92c3ff;
$color-primary-dark: rgb(6, 66, 177);

$color-light: #fff;
$color-gray: #444343;
$color-gray-light: #a7a6a6;
$color-dark: #2a2a2a;

$color-green-light:rgb(11, 141, 11);

$padding-sm:1rem;
$padding-m: 1.5rem;
$padding-lg:2rem;