.navigation {
    z-index: 10;
    background-color: $color-primary;
    color: #493c3c;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: $padding-sm;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);

    @include respond(tab-land) {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    &__logo {
        color: $color-light;
        font-size: 1.8rem;

        & svg {
            width: 7rem;
            height: 3rem;
            margin-top: 0.9rem;
        }

        @include respond(tab-land) {
            grid-row: 1/2;
            grid-column: 1/2;
        }
    }

    &__searchbar {
        height: 4rem;
        width: 56rem;
        box-shadow: 0px 2px 2px 0px #5e5d5da8;
        background-color: $color-light;
        border-radius: 2px;
        overflow: hidden;
        display: flex;
        align-items: center;

        &--input {
            border: none;
            height: 100%;
            width: 95%;
            outline: none;
            font-size: 1.8rem;
            font-weight: 500;
            padding-left: 2rem;

            &-link {
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: none;

                &-btn {
                    display: block;
                    margin: 0.7rem;
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }

        @include respond(tab-land) {
            grid-row: 2/3;
            grid-column: 1/3;
            width: 100%;
            margin: 1rem auto 0;
        }
    }


    &__link {
        justify-self: right;
        display: flex;
        align-items: center;

        @include respond(tab-land) {
            grid-row: 1/2;
            grid-column: 2/3;
        }

        .notification-box {
            height: 1rem;
            width: 1rem;
            position: relative;
            top: 0rem;
            right: 1.8rem;
            background-color: #F44336;
            border-radius: 50%;
        }

        &--btn {
            text-decoration: none;
            font-size: 1.6rem;
            padding: 0.5rem 2rem;
            color: $color-dark;
            border-radius: 2px;
            margin-right: 1rem;
            font-weight: 600;
            transition: all .3s ease;

            &-active,
            &:hover {
                background-color: $color-light;
                color: $color-gray;
            }


        }


        &--user {

            &-notification {

                display: flex;
            }

            &-profile {
                margin: 0 1.5rem;

            }

            &-icon {
                margin: 0 1rem;
                fill: $color-light;
                width: 2.5rem;
                height: 2.5rem;
                cursor: pointer;
            }
        }



        &--item {
            cursor: pointer;
        }
    }
}

.alert {

    // animation-name: hideAlert;
    // animation-duration: 4s;
    // animation-delay: -2s;

    &__warning {
        background-color: #ffc107;
        color: $color-dark;
        border-radius: 3px;
        padding: $padding-sm;
        text-align: center;
    }

    &__success {
        background-color: #92e433;
        color: $color-dark;
        border-radius: 3px;
        padding: $padding-sm;
        text-align: center;
    }

    &__error {
        background-color: #fc3838;
        color: $color-dark;
        border-radius: 3px;
        padding: $padding-sm;
        text-align: center;
    }

    &__box {
        transition: all .35s ease-in;
        transform: translateY(-200px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        position: absolute;
        top: 8rem;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;

        @include respond(tab-land) {
            width: 95%;
            top: 15rem;
        }

        & svg {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 2rem;
        }

    }
}

.alert__box.showAlert {
    transform: translateY(0px);
}

.alert__box.hideAlert {
    transform: translateY(-1000px);
}