//- header.navigation
//-     .navigation__logo Meso
//-     .navigation__searchbar
//-         input(type="text", placeholder="search").navigation__searchbar--input
//-         a(href="#").navigation__searchbar--input-link
//-             img(src="src/img/search.svg", alt="search icon").navigation__searchbar--input-link-btn
//-     .navigation__link
//-         a(href="#").navigation__link--btn.navigation__link--btn-active Login
//-         a(href="#").navigation__link--btn Signup
//-         .navigation__link--item
//-             span
//-             span
//-             span
//- h1 break
header.navigation
    .navigation__logo Meso
    .navigation__searchbar
        input(type="text", placeholder="search").navigation__searchbar--input
        a(href="#").navigation__searchbar--input-link
            img(src="src/img/search.svg", alt="search icon").navigation__searchbar--input-link-btn
    .navigation__link
        p.navigation__link--user-name Welcome Ajay!
        img(src="src/img/user.svg", alt="Ajay yadav").navigation__link--user-profile
        .navigation__link--item
            span
            span
            span