section.landing.landing__slider

    //------carsoul button
    .landing--nxt-btn
        svg.landing--navigation-btn
            use(xlink:href="src/img/icons.svg#right")
    .landing--prev-btn
        svg.landing--navigation-btn
            use(xlink:href="src/img/icons.svg#right")
        
    .landing__slider--item
        img(src="src/img/carsoul1.jpg", alt="")

    .landing__slider--item
        img(src="src/img/carsoul2.jpg", alt="")

    .landing__slider--item
        img(src="src/img/carsoul3.jpg", alt="")

    .landing__slider--item
        img(src="src/img/carsoul4.jpg", alt="")
    

    h1 Meso Health care!!
    p Your health is now our responsibility.