section.landing

    //------carsoul button
    .landing--nxt-btn
        svg.landing--navigation-btn
            use(xlink:href="src/img/icons.svg#right")
    .landing--prev-btn
        svg.landing--navigation-btn
            use(xlink:href="src/img/icons.svg#right")
        

    img(src="src/img/carsoul2.jpg", alt="")

    h1 Meso Health care!!
    p Your health is now our responsibility.