section.reviews.slider

    .slide
        .review__card
            p.review__card--content 
                |"
                span.primary__paragraph Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eveniet quasi nemo veritatis. Sequi quam at tenetur eum perspiciatis ab.
    
            img(src="src/img/logo-primary.jpg", alt="Review Author").review__card--author-image
            span.review__card--author-name Rahul singh

    .slide
        .review__card
            p.review__card--content 
                |"
                span.primary__paragraph Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eveniet quasi nemo veritatis. Sequi quam at tenetur eum perspiciatis ab.
    
            img(src="src/img/logo-primary.jpg", alt="Review Author").review__card--author-image
            span.review__card--author-name Ananya pandey

    .slide
        .review__card
            p.review__card--content 
                |"
                span.primary__paragraph Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eveniet quasi nemo veritatis. Sequi quam at tenetur eum perspiciatis ab.
    
            img(src="src/img/logo-primary.jpg", alt="Review Author").review__card--author-image
            span.review__card--author-name Ajay yadav

    <button class="slider__btn slider__btn--left">&larr;</button>
    <button class="slider__btn slider__btn--right">&rarr;</button>
    <div class="dots"></div>