.advertisment
    .advertisment__container
        .advertisment__container--card
            a(href="#")
                img(src="src/img/adv-card1.jpg", alt="amazon sponser")
        .advertisment__container--card
            a(href="#")
                img(src="src/img/adv-card1.jpg", alt="amazon sponser")
        .advertisment__container--card
            a(href="#")
                img(src="src/img/adv-card1.jpg", alt="amazon sponser")
        .advertisment__container--card
            a(href="#")
                img(src="src/img/adv-card1.jpg", alt="amazon sponser")
        .advertisment__container--card
            a(href="#")
                img(src="src/img/adv-card1.jpg", alt="amazon sponser")
        .advertisment__container--card
            a(href="#")
                img(src="src/img/adv-card1.jpg", alt="amazon sponser")