section.self-sponser

    .self-sponser--card
        img(src="src/img/user.svg", alt="")
        h2.self-sponser--card--head Meso: The Best Healthcare Management App.
        p.self-sponser--card--tag medical service online
        a(href="#").self-sponser--card--link-btn Download Now.

    img(src="src/img/iphone-dummy.png", alt="").sponser-bg

    .sponser__content
        h1 Download Now!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium rem ipsam est eveniet tempora earum? Libero aliquam, asperiores laboriosam aperiam ex earum fugit Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequuntur veritatis corrupti voluptatem ullam fugiat animi impedit quidem, iste libero.
        a(href="#").sponser__content--link Get link!
        img(src="src/img/google-play-badge.png", alt="google play button").google-play-store