extends base

block content
    .main__container
        //- -----Landing section-----
        include components/_landing

        h2.section__heading.section__divider__head Features
        p.section__paragraph.section__divider__caption Lorem, ipsum dolor.
        include components/_features

        h2.section__heading.section__divider__head  Get our app on Playstore
        p.section__paragraph.section__divider__caption Lorem ipsum dolor sit amet Lorem, ipsum..
        include components/app_sponser


        h2.section__heading.section__divider__head  What people say about us ?
        p.section__paragraph.section__divider__caption Lorem ipsum dolor sit amet.
        include components/_review-card

        
        