extends base

block content
    .main__container.account__section
        .account__container
            h1 Lorem, ipsum dolor.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ad praesentium, eos corrupti eius placeat dolores repudiandae ullam exercitationem deleniti magnam, sapiente fugit nisi ipsam, iste assumenda blanditiis labore rem!
            a(href="/signup") Signup Now
        block form
        
