<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        script(defer src="src/js/index.js")
        script(defer src="src/js/landing_slider.js")
        script(defer src="src/js/alert.js")

        title Meso| All you need is here.
    body

        //- -----navbar-----
        include components/_header
        include components/_sidebar

        block content

        //-----footer-----
        include components/_footer