extends tab-base

block content
    .main__container
      
            include components/_people-card
            include components/_people-card
            include components/_people-card
            include components/_people-card
            