extend base

block content
    .main__container
        h1.section__heading Lorem ipsum dolor sit amet.
        p.section__paragraph Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex provident minus dolor atque unde temporibus eum placeat iusto dolorum ea. Qui quam facilis dignissimos dolor sequi in labore nulla earum?

        h2.block__heading Lorem ipsum dolor sit amet consectetur adipisicing elit.
        h4.block__caption Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sint nam et ad voluptatem sed impedit commodi quibusdam?
        p.block__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dolorem, praesentium pariatur, corporis eveniet eos ullam, quos magni hic maiores temporibus debitis. Id suscipit maxime impedit ipsum illum rerum laudantium asperiores odit porro blanditiis alias accusantium ipsa, assumenda debitis, eum enim recusandae. Facilis, nihil repellat?

       


        h5.card__heading Lorem ipsum dolor sit amet consectetur.
        h5.card__caption Lorem ipsum dolor sit.

        p.card__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore reprehenderit, dolor earum modi facere!


       
        .swiper-container
            .swiper-wrapper
                .swiper-slide Slide 1
                .swiper-slide Slide 2
                .swiper-slide Slide 3
            .swiper-button-prev
            .swiper-button-next
           

