extend base

block content
    .main__container
        .app__home
            .app__home__quick-branch
                a(href="#")
                    img(src="src/img/ayurwed.jpg", alt="Ayurwed department")
                    p.primary__paragraph Ayurweda
                a(href="#")
                    img(src="src/img/dentist.jpg", alt="Ayurwed department")
                    p.primary__paragraph Denstist
                a(href="#")
                    img(src="src/img/doctor-dp.jpg", alt="Ayurwed department")
                    p.primary__paragraph Physician
                a(href="#")
                    img(src="src/img/stretoscope.jpg", alt="Ayurwed department")
                    p.primary__paragraph Neurologist
                a(href="#")
                    img(src="src/img/ayurwed.jpg", alt="Ayurwed department")
                    p.primary__paragraph Ayurweda
                a(href="#")
                    img(src="src/img/ayurwed.jpg", alt="Ayurwed department")
                    p.primary__paragraph Ayurweda
                a(href="#")
                    img(src="src/img/ayurwed.jpg", alt="Ayurwed department")
                    p.primary__paragraph Ayurweda