extends tab-base

block content
    .app__home
        +searchForm

        h2.block__heading Address
        p.block__content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis tenetur temporibus, pariatur neque dicta eos.

        h2.block__heading Departments
        .department--block
            a(href="#")
                img(src="src/img/DP1.png", alt="")
                p.card__caption Lorem, ipsum dolor.
            a(href="#")
                img(src="src/img/DP1.png", alt="")
                p.card__caption Lorem, ipsum dolor.
            a(href="#")
                img(src="src/img/DP1.png", alt="")
                p.card__caption Lorem, ipsum dolor.
            a(href="#")
                img(src="src/img/DP1.png", alt="")
                p.card__caption Lorem, ipsum dolor.