extends auth

block form
    form.account__form--login
            h1.account__form--login-head Sign In
            label(for="login-input") Email
            input(type="text",name="email", id="login-input", placeholder="Email or Phone")

            label(for="login-password") Password
            input(type="password", name="password", id="login-password", placeholder="Password")

            button(type="submit") Sign In
            .account__form--login--recover
                a(href="#").account__recover--forget.primary__paragraph Forget password ?
                a(href="#").account__recover--signup.primary__paragraph Create new account.