extends tab-base

block content
    .main__container
        .app__home
            ul.notification__container
                li.notification__container--card
                    a(href="")
                        svg
                            use(xlink:href="src/img/icon-pack-2.svg#danger")
                        p.card__caption Lorem, ipsum dolor.
                li.notification__container--card
                    a(href="")
                        svg
                            use(xlink:href="src/img/icon-pack-2.svg#happy")
                        p.card__caption Lorem ipsum dolor sit dipisicing elit. Ad, atque?
                li.notification__container--card
                    a(href="")
                        svg
                            use(xlink:href="src/img/icon-pack-2.svg#danger")
                        p.card__caption Lorem, ipsum dolor.

