extends tab-base

block content
    .main__container
        ul.notification__container
            li.notification__container--card
                a(href="")
                    svg
                        use(xlink:href="src/img/icon-pack-2.svg#danger")
                    p.primary__paragraph Lorem, ipsum dolor.
            li.notification__container--card
                a(href="")
                    svg
                        use(xlink:href="src/img/icon-pack-2.svg#happy")
                    p.primary__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, atque?
            li.notification__container--card
                a(href="")
                    svg
                        use(xlink:href="src/img/icon-pack-2.svg#danger")
                    p.primary__paragraph Lorem, ipsum dolor.

