<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="src/img/logo-primary.jpg", type="image/x-icon")
        link(rel="stylesheet", href="css/style.css")
        script(defer src="src/js/index.js")
        script(defer src="src/js/alert.js")
        script(defer src="src/js/function.js")
        -var userPageId = userID;
        title= userPageId

    body
        //- ---navbar header for tab page (notification,messages,profile)
        include components/_tab-header
        include components/_sidebar

        block content

        //-footer
        include components/_footer