// .primary__section {

//     &__heading {
//         margin: 2rem 0 .5rem;
//         font-size: 3.5rem;
//         font-family: 'Roboto', sans-serif;
//         letter-spacing: 3px;
//         width: 100%;
//         text-align: center;

//         @media (max-width: 980px) {
//             font-size: 2.5rem;
//         }
//     }

//     &__description {
//         margin: .5rem 0 2rem;
//         font-size: 1.5rem;
//         color: $color-gray-light;
//         letter-spacing: 3px;
//         width: 100%;
//         text-align: center;

//         @media (max-width: 980px) {
//             font-size: 1.3rem;
//         }
//     }
// }

// .section__heading {
//     &--main {

//         font-weight: 600;
//         font-size: 3rem;
//         margin: 3rem 0 .5rem;
//         font-family: 'Montserrat', sans-serif;
//         letter-spacing: 3px;
//         width: 100%;
//         text-align: center;

//         @include respond(tab-land) {
//             font-size: 2.8rem;
//             font-weight: 500;
//         }

//         @include respond(tab-port) {
//             font-size: 2.5rem;
//             font-weight: 500;
//         }

//         @include respond(phone) {
//             font-size: 2.2rem;
//         }
//     }

//     &--sub {
//         font-size: 2rem;
//         font-weight: 400;
//         margin: .5rem 0 3rem;
//         font-family: 'Montserrat', sans-serif;
//         letter-spacing: 3px;
//         width: 100%;
//         text-align: center;

//         @include respond(tab-land) {
//             font-size: 1.9rem;
//             font-weight: 400;
//         }

//         @include respond(tab-port) {
//             font-size: 1.5rem;
//             font-weight: 500;
//         }

//         @include respond(phone) {
//             font-size: 1.2rem;
//         }
//     }
// }

// .primary__heading {
//     margin: .5rem 0;
//     font-size: 2.4rem;
//     font-weight: 500;

//     @include respond(tab-land) {
//         font-size: 2rem;
//         font-weight: 500;
//     }

//     @include respond(phone) {
//         font-size: 1.8rem;
//     }

// }

// .primary__paragraph {
//     font-size: 1.9rem;
//     font-weight: 400;

//     @include respond(tab-land) {
//         font-size: 1.5rem;
//         // font-weight: 500;
//     }

//     @include respond(phone) {
//         font-size: 1.3rem;
//     }
// }

.regular__text {
    font-size: $default-font-size;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

p {
    font-weight: 300;
}

.section {
    &__divider {
        &__head {

            text-align: center;
        }

        &__caption {
            font-weight: 400;
            text-align: center;
        }
    }

    &__heading {
        //h1
        font-size: 3.5rem;

        @include respond(tab-land) {
            font-size: 3rem;
        }

        @include respond(phone) {
            font-size: 2.6rem;
        }

    }

    &__paragraph {
        //p
        // font-weight: 300;
        // color: $color-gray-light;
        font-size: 2.2rem;

        @include respond(tab-land) {
            font-size: 2rem;
        }

        @include respond(phone) {
            font-size: 1.8rem;
        }
    }
}

.alert__text {
    font-weight: 600;
    font-size: 1.8rem;
}

.block {

    &__heading {
        //h2
        margin: .3rem 0;
        font-size: 2.4rem;

        @include respond(tab-land) {
            font-size: 2.2rem;
        }

        // @include respond(tab-port) {
        //     font-size: 2.3rem;
        // }

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &__caption {
        //h4
        margin: .3rem 0;
        font-size: 2rem;
        color: #494747;

        @include respond(tab-land) {
            font-size: 1.9rem;
        }

        // @include respond(tab-port) {
        //     font-size: 1.4rem;
        // }

        @include respond(phone) {
            font-size: 1.7rem;
        }
    }

    &__content {
        //p
        margin: 1rem 0;
        font-size: 1.8rem;

        @include respond(phone) {}
    }
}

.card {
    &__heading {
        //h5
        font-size: 2.3rem;
        font-weight: 400;

        // @include respond(tab-port) {
        //     font-size: 1.6rem;
        // }

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &__caption {
        //h5
        font-size: 2rem;
        font-weight: 400;
        // @include respond(tab-port) {
        //     font-size: 1.4rem;
        // }

        @include respond(phone) {
            font-size: 1.8rem;
        }
    }

    &__paragraph {
        //p
        font-size: 1.8rem;

        // @include respond(tab-port) {
        //     font-size: 1.4rem;
        // }

        // @include respond(phone) {
        //     font-size: 1.4rem;
        // }
    }
}

.feature {
    &__heading {
        //h3
        font-size: 2rem;
    }

    &__paragraph {
        //p
        font-size: 1.7rem;

        @include respond(tab-land) {
            font-size: 1.4rem;
        }
    }
}

.button {
    &__text {
        font-size: 1.8rem;
    }

    @include respond(tab-land) {
        font-size: 1.6rem;
    }
}

#verified {
    margin-left: 1rem;
    height: 1.8rem;
    width: 1.8rem;
    fill: $color-green-light;
}