.regular__text {
    font-size: $default-font-size;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

p {
    font-weight: 300;
}

.section {
    &__divider {
        &__head {

            text-align: center;
        }

        &__caption {
            font-weight: 400;
            text-align: center;
        }
    }

    &__heading {
        //h1
        font-size: 3.5rem;

        @include respond(tab-land) {
            font-size: 3rem;
        }

        @include respond(phone) {
            font-size: 2.6rem;
        }

    }

    &__paragraph {
        //p
        // font-weight: 300;
        // color: $color-gray-light;
        font-size: 2.2rem;

        @include respond(tab-land) {
            font-size: 2rem;
        }

        @include respond(phone) {
            font-size: 1.8rem;
        }
    }
}

.alert__text {
    font-weight: 600;
    font-size: 1.8rem;
}

.block {

    &__heading {
        //h2
        margin: .3rem 0;
        font-size: 2.4rem;

        @include respond(tab-land) {
            font-size: 2.2rem;
        }

        // @include respond(tab-port) {
        //     font-size: 2.3rem;
        // }

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &__caption {
        //h4
        margin: .3rem 0;
        font-size: 2rem;
        color: #494747;

        @include respond(tab-land) {
            font-size: 1.9rem;
        }

        // @include respond(tab-port) {
        //     font-size: 1.4rem;
        // }

        @include respond(phone) {
            font-size: 1.7rem;
        }
    }

    &__content {
        //p
        margin: 1rem 0;
        font-size: 1.8rem;

        @include respond(phone) {}
    }
}

.card {
    &__heading {
        //h5
        font-size: 2rem;
        font-weight: 400;

        @include respond(phone) {
            font-size: 1.7rem;
        }
    }

    &__caption {
        //h5
        font-size: 1.7rem;
        font-weight: 400;
        // @include respond(tab-port) {
        //     font-size: 1.4rem;
        // }

        @include respond(phone) {
            font-size: 1.5rem;
        }
    }

    &__paragraph {
        //p
        font-size: 1.5rem;
        // @include respond(tab-port) {
        //     font-size: 1.4rem;
        // }

        // @include respond(phone) {
        //     font-size: 1.4rem;
        // }
    }
}

.feature {
    &__heading {
        //h3
        font-size: 2rem;
    }

    &__paragraph {
        //p
        font-size: 1.7rem;

        @include respond(tab-land) {
            font-size: 1.4rem;
        }
    }
}

.button {
    &__text {
        font-size: 1.8rem;
    }

    @include respond(tab-land) {
        font-size: 1.6rem;
    }
}

#verified {
    margin-left: 1rem;
    height: 1.8rem;
    width: 1.8rem;
    fill: $color-green-light;
}

.border-bottom-light {
    border-bottom: .4px solid #dbdbdb;

}