.notification__container {
    &--card {
        border-bottom: .4px solid #dbdbdb;

        list-style: none;
        padding: $padding-sm;
        margin: .3rem 0 0;

        &:not(:nth-child(1)) {
            margin: 0;
        }



        & a {
            display: grid;
            grid-auto-columns: max-content 1fr;
            color: $color-primary;
            text-decoration: none;

            & svg {
                width: 3rem;
                height: 3rem;
                margin-right: 2rem;
                grid-column: 1/2;
            }

            & p {
                grid-column: 2/3;
            }
        }
    }
}