.reviews {


    .review__card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &--content {
            font-size: 5rem;
            width: 75%;
            line-height: 2rem;
            color: $color-gray-light;
            text-align: center;
            margin: 1rem 0;

            & span {
                color: $color-gray;

            }

        }

        &--author-image {
            width: 8rem;
            border-radius: 50%;
            margin: 1rem 0;

        }

        &--author-name {
            display: block;
        }
    }
}