@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(tab-land) {
        font-size: 60.52%;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    position: relative;
    // font-family: 'Roboto', sans-serif;
}

.main__container {
    padding: 0 $padding-sm;
    min-height: 90vh;

    @include respond(tab-land) {
        padding: 0;
    }
}