.app__home {
    width: 65%;
    margin: 2rem auto;

    @include respond(tab-land) {
        width: auto;
    }

    &__quick-branch {
        margin: 2rem auto;
        display: flex;
        justify-content: center;

        @include respond(tab-port) {
            padding: 1rem;
            overflow-x: scroll;
            flex-wrap: nowrap;
            flex-shrink: 0;
            flex-grow: 0;
            justify-content: flex-start;
        }

        & a {
            padding: 0 2rem;
            margin-right: .5rem;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include respond(tab-port) {
                padding: 0 1rem;
                align-items: center;
            }

            & p {
                color: $color-primary;
                margin-top: .5rem;
            }

            & img {
                width: 9rem;
                height: 9rem;
                border-radius: 50%;

                @include respond(tab-port) {

                    width: 7rem;
                    height: 7rem;
                }
            }
        }
    }
}