.app__home {
    width: 61%;
    // margin: 0 1rem;
    margin: 0rem auto;

    @include respond(tab-land) {
        width: auto;
        margin: 0 1rem;
    }

    &__location {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0;

        &--gps {
            display: flex;
            align-items: center;
            margin: 2rem 0;

            & h1 {
                font-size: 2rem;
            }

            & svg {
                margin-right: 1rem;
                width: 2.5rem;
                height: 2.5rem;
                fill: $color-primary;
            }
        }

        &--manual {
            display: flex;

            & input {
                height: 5rem;
                width: 30rem;
                border: none;
                font-size: 1.7rem;
                background: $color-gray-very-light;
                height: 5rem;
                padding-left: 1rem;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-radius: 2px;
                outline: none;

                @include respond(tab-land) {
                    height: 4rem;
                    width: 20rem;
                    font-size: 1.5rem;
                }

                @include respond(phone) {
                    // height: 3rem;
                    width: auto;
                    // font-size: 1.3rem;
                }
            }

            & button {
                border-radius: 2px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                outline: none;
                border: none;
                height: 5rem;
                background-color: $color-gray-very-light;
                margin-left: -2px;
                cursor: pointer;

                @include respond(tab-land) {
                    height: 4rem;

                }

                @include respond(phone) {}

                & svg {

                    width: 2.5rem;
                    height: 2.5rem;
                    fill: $color-dark;
                }
            }
        }

    }

    &__quick-branch {
        margin: 2rem auto;

        overflow-x: hidden;


        &--placeholder {
            width: 4rem;
            height: 4rem;
            position: absolute;
            top: 10px;
            fill: red;
            margin: auto;
            margin-right: auto;
            margin-left: auto;
        }

        @include respond(tab-port) {
            padding: 1rem 0rem;
            border-bottom: 1px solid $color-gray-light;

        }

        & .swiper-wrapper a {
            width: max-content;
            position: relative;
            padding: 0 2rem;
            margin-right: .5rem;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include respond(tab-port) {
                padding: 0 1rem;
            }

            & p {
                color: $color-primary;
                margin-top: .5rem;
                text-align: center;
            }

            & img {

                width: 9rem;
                height: 9rem;
                border-radius: 50%;
                object-fit: cover;

                @include respond(tab-port) {

                    width: 7rem;
                    height: 7rem;
                }
            }
        }
    }
}